<app-nav-bar></app-nav-bar>
<br><br>
<br><br>

<i class="fa-solid fa-bars"></i>

<div class="row">
  <div class="col-md-12">
      <div class="card" >

          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          <div class="card-header py-3" >
              <h2 class="m-auto" style="max-width: 80rem;"> <b> &nbsp;&nbsp;Tobsa Audio Plugins</b>&nbsp;
                <button class="btn btn-primary px-5">Ver más</button>
              </h2>
          </div>
          
      </div>
  </div>
</div>