
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Container</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExample07">
  
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pe-5">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item pe-4">
            <a class="nav-link" href="#">Tienda</a>
          </li>
          <li class="nav-item pe-4">
            <a class="nav-link" href="#">Soporte</a>
          </li>
          <li class="nav-item pe-1">
            <button class="btn btn-primary">Blog</button>
          </li>
        </ul>
  
      </div>
  
    </div>
  
  </nav>
  

<nav class="navbar navbar-expand-lg navbar-light shadow-sm border-bottom border-2" style="background-color: white;">
    <div class="container-fluid">
      <a class="navbar-brand me-4" routerLink="/home"><img src="assets/img/logo-muela.svg" alt="Dental Turno" style="height:35px;"> Dental Turno</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/agenda" routerLinkActive="router-link-active">Agenda</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/pacientes" routerLinkActive="router-link-active">Pacientes</a>
          </li>
        </ul>
  
        <ul class="navbar-nav me-5">
          
            <li class="nav-item dropdown me-5">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
                </a>
            </li>
  
        </ul>

        <div >
          <button type="button" class="btn btn-outline-secondary me-2 px-4" routerLink="/login" >Iniciar sesion</button>
        </div>
  
      </div>

    </div>
    
  </nav>
  