@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


*{
    font-family: 'Inter', sans-serif;
}

.header-container{
    font-family: 'Inter', sans-serif;
    font-weight: 800 ;
    font-size: 52px;
    letter-spacing: -0.03em;
}


.products-container{
    max-width: 1590px;
}

.product{
    margin: 10px 40px 5em 40px;
    
}

.product-card{
  border-radius: 12px;
  box-shadow: 0 2px 6px -1px teal;
  text-decoration: none;
  padding-bottom: 22px;
  background-color: white;
  position: relative;
  transform: translate3d(0px,0px,0px);
  transition: all 0.2s ease-out;
}

.product-card:hover{
  border: solid 0 #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px teal;
  transform: translate3d(0px,4px,0px);
  transition-duration: 0.12s;
}


.woocommerce-Price-amount{
    color: #000;
    padding: 15px;
    border-radius: 10px;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
}

.amount{
    font-family: 'Helvetica 45 Light', sans-serif;
    padding: 10px 0 0 0;
    color:black;
    font-size: 22px;
    display: block;
}

.oferta{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: #ff0000;
    color: #fff;
    font-family: "Helvetica",helvetica,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.2;
    padding: 1.2rem;
    text-transform: uppercase;
    z-index: 1;
    border-radius: 8px 8px 8px 8px;
}


/* Loaders animation divs*/
/* --------------------- */

.load-container{
    display: flex;
    height: 220px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px; 
  }
  
  .img-container {
    width: 100%;
    padding: 20px;
  }
  
  .img-loader {
    width: 100%;
    height: 100%;
    background-color: #babbbc;
    
  }
  
  .load-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 50px 40px;
   justify-content: space-evenly;
  }
  
  .stripe {
    height: 15%;
    background-color: #babbbc;
  }
  
  .small-stripe {
    width: 40%;
  }
  
  .medium-stripe {
    width: 70%;
    align-self: center;
  }
  
  .long-stripe {
    width: 100%;
  }
  
  .load-container.loading .img-loader, .load-container.loading .stripe {
    animation: hintloading 2s ease-in-out 0s infinite reverse;
    -webkit-animation: hintloading 1.5s ease-in-out 0s infinite reverse;
  }
  
  @keyframes hintloading
  {
    0% {
      opacity: 0.5;
    }
    50%  {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  @-webkit-keyframes hintloading
  {
    0% {
      opacity: 0.5;
    }
    50%  {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

    /*
    background: linear-gradient(90deg, #4e5cff  0%, #ffffff 60%, #4e5cff  90%);
    */
    .loading-product {
      height: 4px;
      background: linear-gradient(90deg, #fff 0%, #626fff 30%, #fff 50%);
      margin-left: 0%;
      margin-right: 0%;
      animation: blink 1.8s infinite;
      background-size: 200% 100%;
      background-position: -100% 0;
      transition: background-position 0.25s ease-in-out;
    }
    
    @keyframes blink {
      0% {
        background-position: 50% 0;
      }
      50% {
        background-position: -50% 0;
      }
      100% {
        background-position: 50% 0;
      }
    }
  
/* --------------- */


@media screen and (max-width: 1750px) {
    .products-container{
        max-width: 1080px;
    }
    .product{
        margin: 10px 40px 5em 40px;
    }
}

@media screen and (max-width: 1100px) {
    .products-container{
        max-width: 478px;
    }
    .product{
        margin: 10px 12px 5em 12px;
    }
}