@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');


*{
    font-family: 'Inter', sans-serif;
}

.amount{
    font-family: 'Helvetica 45 Light', sans-serif;

    padding: 10px 0 0 0;
}


 