







<div class="w-100 m-auto text-center mb-5 text-center justify-content-center align-items-center">

    <div class="row text-center justify-content-center align-items-center m-auto " style="max-width: 520px;">
        <div class="col logo-payment" >
            <img class="w-100" src="https://res.cloudinary.com/dnqwewpe0/image/upload/v1679424692/235-2355689_american-express-mastercard-and-visa-logos-visa-removebg-preview_hwqydd.png" title="" alt="">
        </div>
        <div class="col logo-payment" >
            <img class="w-100" src="https://res.cloudinary.com/dnqwewpe0/image/upload/v1678839640/PayPal_qskqpv.png" title="" alt="">
        </div>
        <div class="col logo-payment" >
            <img class="w-100" src="https://res.cloudinary.com/dnqwewpe0/image/upload/v1678839641/version-horizontal-large-logo-mercado-pago_rc15s0.webp" title="" alt="">
        </div>
    </div>
    <br>

    <div class="row m-auto justify-content-center px-5 mt-5 " style="font-family: 'Roboto', sans-serif; font-size: 28px;font-variant-numeric: lining-nums;font-weight: 800;letter-spacing: -0.0415625em;line-height: 1.25;">
        Ver más en tobsa.gumroad.com
    </div>

    <div class="row-2 mt-3 ">
        <a href="" class="btn btn-lg btn-primary px-5">Ver más</a>
    </div>

</div>
