@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.home-title{
    font-family: 'Inter', sans-serif;

}