
<div class="h-75 w-100 pb-5" style="box-shadow: #000 14px -5px 29px; border-radius: 0px 0px 20px 20px;    background-image: linear-gradient(360deg, #081C48 0%, #0036AE 100%);">
    


  <!-- Swiper -->
  <div class="swiper mySwiper" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="row">
            <div class="col col-lg text-start">
                <div class="home-title h1">Recursos para Creadores Digitales.</div>
                <span ><button class="btn btn-primary">Testeo</button></span>
            </div>
            <div class="col col-4">

                <div class="home__data">
                    <h3 class="home__subtitle">#1 Top mas vendido</h3>
                    <h1 class="home__title">PERILLA MAGICA <br> PARA MEZCLAR <br> VOCES</h1>
                    <p class="home__description">Efecto para FL Studio 20, mezcla cualquier tipo de voz automaticamente con la Perilla Mágica™.
                    </p>

                </div>
            </div>
        </div>
      </div>

      <div class="swiper-slide">
            <!-- HOME SLIDER 1 -->
            <section class="swiper-slide">
                <div class="home__content grid">
                    <div class="home__group">
                        <img src="assets/img/home1-img.png" alt="" class="home__img">
                        <div class="home__indicator"></div>

                        <div class="home__details-img">
                            <h4 class="home__details-title">"Perilla Mágica"</h4>
                            <span class="home__details-subtitle">Vocals</span>
                        </div>
                    </div>

                    <div class="home__data">
                        <h3 class="home__subtitle">#1 Top mas vendido</h3>
                        <h1 class="home__title">PERILLA MAGICA <br> PARA MEZCLAR <br> VOCES</h1>
                        <p class="home__description">Efecto para FL Studio 20, mezcla cualquier tipo de voz automaticamente con la Perilla Mágica™.
                        </p>

                        <div class="home__buttons">
                            <button>Test</button>
                        </div>
                    </div>
                </div>
            </section>
        
      </div>
      <div class="swiper-slide">Slide 3</div>

    </div>
    <div class="swiper-pagination"></div>
  </div>

  
</div>

