
<div class="home-header py-4">

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <div  class="swiper-slide">
        <div class="row  text-center align-items-center justify-content-center">
            <div class="col col-6 p-4 px-5" style="min-width: 400px; aspect-ratio: 1.56 / 1 ; " >
                <a href="https://tobsa.com.ar/wp/?product=perilla-magica" >
                    <img class="perilla-img"  src="https://res.cloudinary.com/dnqwewpe0/image/upload/v1686283138/perilla-webp_lcg7pa.webp" alt="Perilla Mágica FL Studio" style="">
                </a>
            </div>
            <div class="col-8 text-start mt-3 " style="max-width: 500px; min-width: 330px;" >
                    <h3 class="home__subtitle mb-2">#1 Top más vendido</h3>
                    <h1 class="home-title">Perilla Mágica <br> para mezclar<br> voces.</h1>
                <span ><a class="btn btn-lg btn-primary px-4 mt-2 shadow" href="https://tobsa.com.ar/wp/?product=perilla-magica">Ver más </a></span>
            </div>
        </div>
      </div>



    </div>
    <br>
    <br>
    <br>


</div>

  
</div>

