
<div class="home-header py-4" style="box-shadow: #000 14px -5px 29px; border-radius: 0px 0px 20px 20px;    background-image: linear-gradient(360deg, hsl(221, 80%, 20%) 0%, #0036AE 100%);">
    


  <!-- Swiper -->
  <div class="swiper mySwiper" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="row  text-center align-items-center justify-content-center">
            <div class="col col-6 pt-4" style="min-width: 400px;" href="https://tobsa.com.ar/wp/?product=perilla-magica">
                <a href="https://tobsa.com.ar/wp/?product=perilla-magica">

                    <img  src="https://res.cloudinary.com/dnqwewpe0/image/upload/v1678839570/perilla-front_ec3xww.png" alt="" style="width:100%">
                </a>
            </div>
            <div class="col-8 text-start mt-3 " style="max-width: 500px; min-width: 330px;" >
                    <h3 class="home__subtitle">#1 Top más vendido</h3>
                    <h1 class="home-title">Perilla Mágica <br> para mezclar<br> voces.</h1>

                <span ><a class="btn btn-lg btn-primary px-4 mt-2" href="https://tobsa.com.ar/wp/?product=perilla-magica">Ver más </a></span>
            </div>
        </div>
      </div>


      <div class="swiper-slide">
        <div class="row  text-center align-items-center justify-content-center">
            <div class="col col-6 pt-4" style="min-width: 400px;" href="https://tobsa.com.ar/wp/?product=perilla-magica">
                <a href="https://tobsa.com.ar/wp/?product=perilla-magica">

                    <img  src="https://res.cloudinary.com/dnqwewpe0/image/upload/v1678839570/perilla-front_ec3xww.png" alt="" style="width:100%">
                </a>
            </div>
            <div class="col-8 text-start mt-3" style="max-width: 500px; min-width: 330px;" >
                    <h3 class="home__subtitle">#1 Top más vendido</h3>
                    <h1 class="home-title">Perilla Magica <br> para mezclar<br> voces.</h1>

                <span ><a class="btn btn-primary px-4 mt-1" href="https://tobsa.com.ar/wp/?product=perilla-magica">Ver más </a></span>
            </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row  text-center align-items-center justify-content-center">
            <div class="col col-6 pt-4" style="min-width: 400px;" href="https://tobsa.com.ar/wp/?product=perilla-magica">
                <a href="https://tobsa.com.ar/wp/?product=perilla-magica">

                    <img  src="https://res.cloudinary.com/dnqwewpe0/image/upload/v1678839570/perilla-front_ec3xww.png" alt="" style="width:100%">
                </a>
            </div>
            <div class="col-8 text-start mt-3" style="max-width: 500px; min-width: 330px;" >
                    <h3 class="home__subtitle">#1 Top más vendido</h3>
                    <h1 class="home-title">Perilla Magica <br> para mezclar<br> voces.</h1>

                <span ><a class="btn btn-primary px-4 mt-1" href="https://tobsa.com.ar/wp/?product=perilla-magica">Ver más </a></span>
            </div>
        </div>
      </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="swiper-pagination p-5 "></div>
</div>

  
</div>

